/* styles.css */

/* Style for labels */
.label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
}

/* Style for headings */
.label-heading {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #2e8b57;
    -fx-padding: 10px;
}

/* Style for buttons */
.button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
}

.button:hover {
    -fx-background-color: #45a049;
}

/* Style for containers */
.container {
    -fx-padding: 20px;
    -fx-spacing: 10px;
    -fx-alignment: center;
}

/* Style for movie container */
.movie-container {
    -fx-spacing: 20px;
    -fx-alignment: center;
}
